
body {
    background-size: auto;
    background-color:lightseagreen;
}

h1{
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 64px;
    color: antiquewhite;
    background-size: auto;
    background-color: blueviolet;
}

.col-img{
    background-size: auto;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 600px;
}

img{
    padding-top: 20px;
    object-fit: contain;
    width: 500px;
    max-height: 450px;
}

.btn-primary {
    color:white;
    background-color: cornflowerblue;
    border-color: white;
    width:100px;
  }