
body {
    background-size: auto;
    background-color:lightseagreen;
    padding-top: 30px;
}

h1{
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 64px;
    color: antiquewhite;
    background-size: auto;
    background: radial-gradient(40% 50% at center, blue, #1d6ea1);
}

.col-img{
    background-size: auto;
    background-color: #1d6ea1;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 600px;
    box-shadow: 0 0 20px 20px #1d6ea1;
}

img{
    padding-top: 20px;
    object-fit: contain;
    width: 1000px;
    max-height: 450px;
}

.btn-primary {
    color:black;
    background-color: #45de9e;
    border-color: black;
    width:100px;
  }
  .btn-primary:hover{
    color: white;
    background-color: #1b4f39;
    border-color: white;
  }
  .btn-primary:active:focus{
    color:darkturquoise;
    border-color:darkturquoise;
    background-color: darkslategray;
  }